<!-- router-outlet is Placeholder -->
<h1>Marvellous Knowledge Sharing Portal</h1>
<h2>Select the below option</h2>
<nav>
  <a routerLink="/batches" style="padding:5px 15px;background-color: rgb(12, 4, 58);border: 1px solid #000000;margin: 0px 10px;text-decoration: none;color: aliceblue;border-radius: 5px;">Batches</a>
  <a routerLink="/subject" style="padding:5px 15px;background-color: rgb(12, 4, 58);border: 1px solid #000000;margin: 0px 10px;text-decoration: none;color: aliceblue;border-radius: 5px;">Subjects</a>
  <a routerLink="/about" style="padding:5px 15px;background-color: rgb(12, 4, 58);border: 1px solid #000000;margin: 0px 10px;text-decoration: none;color: aliceblue;border-radius: 5px;">About Us</a>
</nav>
<router-outlet></router-outlet> 
