<h3>Assignment 11 Q2</h3>
<h3>Books and Technologies Route</h3>
<h3>Select the below option</h3>
<nav>
  <a routerLink="/books" style="padding:5px 15px;background-color: rgb(12, 4, 58);border: 1px solid #000000;margin: 0px 10px;text-decoration: none;color: aliceblue;border-radius: 5px;">Books</a>
  <a routerLink="/tech" style="padding:5px 15px;background-color: rgb(12, 4, 58);border: 1px solid #000000;margin: 0px 10px;text-decoration: none;color: aliceblue;border-radius: 5px;">Technologies</a>
</nav>
<router-outlet></router-outlet>
