<div class="container col-md-6">
<form >
    <div class="form-group">
        <label for="impact" style="margin-top: 5px">Impact</label><br>
        <select class="custom-select" style="width: 100%;padding: 6px;margin: 7px 0px;"> 
            <option *ngFor="let i of impacts">{{i}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="impact" style="margin-top: 5px">Date and time you first notice this bug*</label><br>
        <select class="custom-select" style="width:10%;padding: 6px;margin:  7px 5px 7px 0px;"> 
           
        </select>
        <select class="custom-select" style="width:10%;padding: 6px;margin:  7px 5px 7px 0px;"> 
           
        </select>
        <select class="custom-select" style="width:10%;padding: 6px;margin: 7px 0px;"> 
            
        </select>
    </div>
    <div class="form-group">
        <select class="custom-select" style="width:10%;padding: 6px;margin: 7px 5px 7px 0px;"> 
        
        </select>
        <select class="custom-select" style="width:10%;padding: 6px;margin:  7px 5px 7px 0px;"> 
        
        </select>
        <select class="custom-select" style="width:10%;padding: 6px;margin: 7px 0px;"> 
        
        </select>
    </div>
    <div class="form-group">
        <label for="BugInfo">Detailed explanation of bug*</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
</div>