<div class="container col-md-6">
<form>
    <label >Your name*</label>
    <div class="col-md-12" style="display: flex;">
    <div class="col-md-6" style="padding-right: 5px;">
        <div class="form-group">
            <input type="text" class="form-control">
            <label style="font-size: 10px;">First Name</label>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 5px;">
        <div class="form-group">
            <input type="text" class="form-control" ngModel>
            <label style="font-size: 10px;">Last Name</label>
        </div>

    </div>
    </div>
    <div class="form-group">
        <label >Email*</label>
        <input type="email" class="form-control" ngModel>
    </div>
</form>
</div>
